:root {
    --purple-opaque: rgb(41 54 147 / 50%);
    --shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.page_wrap {
    background-color: #131a5b;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232a3793'/%3E%3Cstop offset='1' stop-color='%23131a5b'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23131a5b' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23131a5b' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
.container {
    display: flex;
    justify-content: center;
}

.material-icons-two-tone,
.material-icons.material-icons--two-tone {
    font-family: "Material Icons Two Tone";
}

.bantm_logo {
    height: 2rem;
}

.btn-large {
    margin-right: 1rem;
}

.page_wrap {
    min-height: 100vh;
}

.home_wrap {
    display: flex;
    justify-content: center;
}

.home_wrap_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*********** DASHBOARD *********/

.dashboard_wrap,
.dash_post_reactions,
.dash_post_user_row,
.dash_user_profile,
.dash_profile_buttons {
    display: flex;
}

.dashboard_wrap {
    justify-content: center;
}

.dash_user_profile {
    flex-direction: column;
    padding: 2rem;
    min-width: 20rem;
    height: 22rem;
    /* background: rgb(255 255 255 / 5%); */
    margin: 1rem;
}

.dash_post_wrap {
    margin: 1rem 0;
    background: rgb(41 54 147);
    padding: 1rem;
    box-shadow: var(--shadow-1);
    border-radius: 0.25rem;
}

.dash_post_user_row {
    justify-content: space-between;
}

.dash_post_user_inner {
    display: flex;
}

.dash_post_user {
    font-size: 1.2rem;
}

.avatar_row {
    display: flex;
    justify-content: flex-start;
    font-size: 2rem;
}

.dash_post_photo {
    height: 200px;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.25rem;
}

.dash_post_reactions {
    justify-content: space-between;
}

.dash_post_reactions p {
    margin: 0;
    padding: 0;
}

.dash_profile_subheader {
    font-size: 0.8rem;
    color: #039be5;
    margin: 0;
}

.dash_profile_detail {
    margin-top: 0.25rem;
}

.dash_edit_wrap {
    margin-right: 1rem;
}

.user_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-right: 0.5rem;
}

/********** FEED *****************/

.feed_wrap {
    min-width: 30rem;
    overflow-y: auto;
    max-height: 90vh;
    margin: 2rem;
}

/********** BLOG *****************/

.blog_wrap {
    background: #1d237e;
}

.blog_header_wrap {
    display: flex;
    justify-content: center;
}

.blog_header_inner {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog_header_avatar {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin-right: 2rem;
}

.blog_posts_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    flex-direction: column;
    margin: 2rem;
}

.blog_wrap .dash_post_wrap {
    max-width: 40rem;
    width: 50%;
}

/********** SIGNUP **************/

.signUp_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*********** MODAL *************/

.modal_overlay {
    background: #1a237ecc;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.modal_form {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
}

.modal_form input {
    margin: 1rem 0;
}

.post_button {
    display: flex;
    justify-content: space-around;
    width: 6rem;
}

.progress_outer {
    height: 0.5rem;
    background: #192372;
}

.progress_inner {
    height: 0.5rem;
    background: #27a59a;
    transition: width 1s linear;
}

/*********** LOADER ************/

.loader_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background: rgb(41 54 147 / 50%);
    color: #dfd7d5;
}

.loader_text {
    margin-left: 0.5rem;
}
.bouncingLoader > div,
.bouncingLoader:before,
.bouncingLoader:after {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: hsl(0deg 80% 62%);
    margin: -5px;
    border-radius: 50%;
    animation: bouncing-loader 0.6s infinite alternate;
}

.bouncingLoader > div,
.bouncingLoader:before,
.bouncingLoader:after {
    content: "";
}

.bouncingLoader > div {
    margin: 0 5px;
}

.bouncingLoader > div {
    animation-delay: 0.2s;
}

.bouncingLoader:after {
    animation-delay: 0.4s;
}

@keyframes bouncing-loader {
    to {
        opacity: 0.1;
        transform: translate3d(0, -16px, 0);
    }
}

.fade-in {
    opacity: 0;
    -webkit-animation: fade-in 1s cubic-bezier(0.5, 1, 0.89, 1) forwards;
    animation: fade-in 1s cubic-bezier(0.5, 1, 0.89, 1) forwards;
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in-up {
    opacity: 0;
    -webkit-animation: fade-in 1s cubic-bezier(0.5, 1, 0.89, 1) forwards;
    animation: fade-in 1s cubic-bezier(0.5, 1, 0.89, 1) forwards;
}

@-webkit-keyframes fade-in-up {
    from {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}
