:root {
    --purple-opaque: rgb(41 54 147 / 50%);
    --shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.container {
    display: flex;
    justify-content: center;
}

.material-icons-two-tone,
.material-icons.material-icons--two-tone {
    font-family: "Material Icons Two Tone";
}

.btn-large {
    margin-right: 1rem;
}

.page_wrap {
    min-height: 100vh;
}

/*********** DASHBOARD *********/

.dashboard_wrap,
.dash_post_reactions,
.dash_post_user_row,
.dash_user_profile {
    display: flex;
}

.dashboard_wrap {
    justify-content: center;
}

.dash_user_profile {
    flex-direction: column;
    padding: 2rem;
    min-width: 20rem;
}

.dash_post_wrap {
    margin: 1rem 0;
    background: rgb(41 54 147);
    padding: 1rem;
    box-shadow: var(--shadow-1);
    border-radius: 0.25rem;
}

.avatar_row {
    display: flex;
    justify-content: flex-start;
    font-size: 2rem;
}

.dash_post_photo {
    height: 200px;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.25rem;
}

.dash_post_reactions {
    justify-content: space-between;
}

.dash_post_reactions p {
    margin: 0;
    padding: 0;
}

.dash_profile_subheader {
    font-size: 0.8rem;
    color: #039be5;
    margin: 0;
}

.dash_profile_detail {
    margin-top: 0.25rem;
}

.user_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-right: 0.5rem;
}

/********** FEED *****************/

.feed_wrap {
    min-width: 30rem;
    overflow-y: auto;
    max-height: 90vh;
}

/********** SIGNUP **************/

.signUp_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*********** MODAL *************/

.modal_overlay {
    background: #1a237ecc;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.modal_form {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
}

.post_button {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

/*********** LOADER ************/

.loader_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background: rgb(41 54 147 / 50%);
    color: #dfd7d5;
}

.loader_text {
    margin-left: 0.5rem;
}
.bouncingLoader > div,
.bouncingLoader:before,
.bouncingLoader:after {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: hsl(0deg 80% 62%);
    margin: -5px;
    border-radius: 50%;
    animation: bouncing-loader 0.6s infinite alternate;
}

.bouncingLoader > div,
.bouncingLoader:before,
.bouncingLoader:after {
    content: "";
}

.bouncingLoader > div {
    margin: 0 5px;
}

.bouncingLoader > div {
    animation-delay: 0.2s;
}

.bouncingLoader:after {
    animation-delay: 0.4s;
}

@keyframes bouncing-loader {
    to {
        opacity: 0.1;
        transform: translate3d(0, -16px, 0);
    }
}

.fade-in {
    opacity: 0;
    -webkit-animation: fade-in 1s cubic-bezier(0.5, 1, 0.89, 1) forwards;
    animation: fade-in 1s cubic-bezier(0.5, 1, 0.89, 1) forwards;
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in-up {
    opacity: 0;
    -webkit-animation: fade-in 1s cubic-bezier(0.5, 1, 0.89, 1) forwards;
    animation: fade-in 1s cubic-bezier(0.5, 1, 0.89, 1) forwards;
}

@-webkit-keyframes fade-in-up {
    from {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}
